body {
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: #181818;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#calculator {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 24rem;
    height: 40rem;
    background-color: #212121;
    border-radius: 2rem;
    margin: auto;
    padding: 1rem;
}

#display {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    width: 20.5rem;
    height: 16rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

#history-display {
    color: gray;
}

#main-display {
    font-size: 4rem;
}

#keypad {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.keypad-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 100%;
    font-size: 1.75rem;
}

.function-btn {
    background-color: gray;
}

.digit-btn,
#info-btn,
#decimal-btn {
    background-color: #303030;
}

.operator-btn {
    background-color: orange;
}
